p{
    font-family: Arial, Helvetica, sans-serif;
    color: darkslateblue;
}
b{

font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
color: aquamarine;

}

i{
color: darkgoldenrod;
background-color: crimson;

}
body{
    color: darksalmon;
}